<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        body{
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function uploadFile() {
            $('#sbm_btn').removeAttr('disabled');
        }
    </script>
</head>

<body>
<div class="container" style="margin-top: 20px">
    <h3>MSBA7011</h3>
    <h2>Final Project</h2>
    <h1>Are you a star?</h1>
    <br><br><br><br>
    <form action="/upload" method="post" enctype="multipart/form-data">
{#        <input type="file" name="image">#}
        <button type="button" onclick="$('#upfile').click();" class="btn btn-default btn-lg">Upload Selfie</button>
        <input type="file" id="upfile" onchange="uploadFile()" name="image"  style="visibility: hidden; position: absolute;">
        <br>
        <button class="btn btn-primary btn-lg" type="submit" disabled="disabled" style="margin-top: 10px;" id="sbm_btn">FIND IT OUT</button>
    </form>
</div>
</body>
</html>